@media only screen and (max-width: 640px){
    .circulo {
        height: 180px;
        width: 180px;
    }

    #container-dificultad {
        width: 100vw;
    }

    #dificultades {
        margin: 0 auto;
    }

    .circulos, .container-juego, .row-circulos, #container-dificultad, #dificultades {
        width: calc(180px * 2);
    }
}