:root {
    --circulos-size: 250px;
}

body {
    background-color: rgb(58, 58, 58);
}

.circulo {
    height: 250px;
    width: 250px;
    opacity: 0.5;
}

.circulos {
    width: calc(var(--circulos-size) * 2);
    text-align: center;
}

.row-circulos {
    width: calc(var(--circulos-size) * 2);
}

.row1 {
    margin: 10px 0;
    align-items: center;
    text-align: center;
}

.pija{
    margin: 0;
    padding: 0;
}

.btn-light {
    width: 160px;
}

strong{
    color: white;
}

#circulo-1 {
    background-color: rgb(231, 76, 60);
    border-radius: 250px 0 0 0;
}

#circulo-2 {
    background-color: rgb(46, 134, 193);
    border-radius: 0 250px 0 0;
}

#circulo-3 {
    background-color: #F1C40F;
    border-radius: 0 0 0 250px;
}

#circulo-4 {
    background-color: #2ECC71;
    border-radius: 0 0 250px 0;
}

.oculto {
    display: none;
}

/* 
    Estilo de la dificultad del juego
*/

#container-dificultad {
    border: 1px solid rgb(172, 171, 171);
    border-radius: 7px;
    min-height: 200px;
    margin: auto;
    width: 600px;
    margin-top: 150px;
    background-color: rgb(185, 185, 185);
}

.titulo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
    text-shadow: 0px 3px 2px rgba(150, 150, 150, 1);
}

#container-dificultad button{
    margin: auto;
    margin-top: 40px;
}